#return-to-top {
  z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #c59b75;
    background: rgba(197,155,117,0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(197,155,117,0.9);
}
/*#return-to-top:hover i {
    color: #fff;
    top: 5px;
}*/

.sub-heading {
  color: #c59b75;
}

.wedding-party {
  padding-top: 20px;
}

.wedding-party p {
  padding-top: 10px;
  padding-bottom: 10px;

}

@media (max-width: 767px) {
  img {
    display: block;
    margin: 0 auto;
    max-width: 300px !important;
    height: auto;
  }

  .wedding-party p {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  .feature img {
    display: block;
    margin: 0 auto;
  }
  .accom-2 {
    text-align: center;
  }
  .accom-2 h6 {
    margin-top: 10px;
  }
  .accom-2 p {
    max-width: 300px;
    margin: 0 auto;
  }

  .wedding-party h6 {
    margin-top: 10px;
  }

}

.wedding-party h6 {
  text-align: center;
}

.add-margin-top {
  margin-top: 20px;
}
.add-padding-top {
  padding-top: 80px;
}

.add-padding-bottom {
  padding-bottom: 80px;
}
.add-margin-bottom {
  margin-bottom: 40px;
}

.demo-gallery {
  margin-top: 80px;
  padding: 10px;
  background: white;
}
