@font-face {
  font-family: 'Masterblush-alt';
  src: url('../fonts/Masterblush-Alt');
}

@font-face {
  font-family: 'Masterblush-Regular';
  src: url('../fonts/Masterblush-Regular');
}

@font-face {
  font-family: 'Masterblush-Swash';
  src: url('../fonts/Masterblush-Swash');
}
