<section class="story story-2 add-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 hide-mobile text-center">
        <img alt="Photo" src="img/Optimized-4.jpg">
      </div>
      <div class="col-sm-4 hide-mobile text-center">
        <img alt="Photo" src="img/Optimized-5.jpg">
      </div>
      <div class="col-sm-4 text-center">
        <img alt="Photo" src="img/Optimized-6.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <h2>How We Met</h2>
        <!-- <h6>A little about how we fell in love</h6> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center add-margin-bottom">
        <p>
          Deanna and Wylie know of each other from middle school. However, through the years and school moves they never became friends. When Deanna turned 21, Wylie attended her birthday party through mutal friends. They clicked and the rest was history.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <h2>The Proposal</h2>
        <!-- <h6>A little about how we fell in love</h6> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
        <p>
          This past year, Deanna and Wylie traveled to Europe for the first time. They hung out at pubs in London, ate too many macarons in Paris, and discovered their love of tapas in Barcelona. One morning in Paris, Wylie took extra long to get ready… ironed his shirt and styled his hair just right. Little did Deanna know, he was to propose to her right at sunset atop the Eiffel Tower.
        </p>
      </div>
    </div>
  </div>
</section>
