<ui-accordion close-others="oneAtATime">
  <section class="accom accom-2 add-padding-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2>Travel</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="travel-wrapper">
            <a href="https://goo.gl/maps/9yr5wwWgfXn">
              <img src="../img/DRIVE.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="travel-wrapper">
            <a href="https://www.expedia.com/">
              <img src="../img/FLY.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="travel-wrapper">
            <img src="../img/UBER.png" alt="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 feature">
          <div class="row">
            <div class="text-center">
              <h2>Redmond</h2>
              <p>Close to the Durbins</p>
            </div>
            <div class="lodging-wrapper">
                <a href="http://www.marriott.com/hotels/travel/seard-residence-inn-seattle-east-redmond/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2">
                  <img src="../img/REDMOND-1.jpg" alt="">
                  <h6>Residence Inn Marriott Redmond</h6>
                </a>
                <!-- <a href="https://www.google.com/maps/dir/7575+164th+Ave+NE,+Redmond,+WA+98052/@47.6721982,-122.1265326,16z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x549072ae3310f109:0xa8a2252b6843b739!2m2!1d-122.1221552!2d47.6721983">
              </a> -->
            </div>
          </div>
          <div class="row">
            <div class="lodging-wrapper">
              <a href="https://m.hyatt.com/mt/redmond.house.hyatt.com/en/hotel/home.html">
                <img src="../img/REDMOND-2.jpg" alt="">
                <h6>Hyatt House</h6>
              </a>
              <!-- <a href="https://www.google.com/maps/dir//15785+Bear+Creek+Pkwy,+Redmond,+WA+98052/@47.6734362,-122.1325455,17z/data=!4m16!1m7!3m6!1s0x549072ac6c4284f5:0x831c22124494343c!2s15785+Bear+Creek+Pkwy,+Redmond,+WA+98052!3b1!8m2!3d47.6734362!4d-122.1303568!4m7!1m0!1m5!1m1!1s0x549072ac6c4284f5:0x831c22124494343c!2m2!1d-122.1303568!2d47.6734362">
              </a> -->
            </div>
          </div>
        </div>

        <div class="col-sm-4 feature">
          <div class="row">
            <div class="text-center">
              <h2>Bellevue</h2>
              <p>Close to the Fernyhoughs</p>
            </div>
            <div class="lodging-wrapper">
              <a href="http://www.marriott.com/hotels/travel/bvudt-courtyard-seattle-bellevue-downtown/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2">
                <img src="../img/BELLEVUE-2.jpg" alt="">
                <h6>Courtyard Marriot: Bellevue</h6>
              </a>
              <!-- <a href="https://www.google.com/maps/dir//600+Bellevue+Way+NE,+Bellevue,+WA+98004/@47.6164494,-122.2030066,17z/data=!4m16!1m7!3m6!1s0x54906c88ae3d704d:0x5dfab57c8b6586dd!2s600+Bellevue+Way+NE,+Bellevue,+WA+98004!3b1!8m2!3d47.6164494!4d-122.2008179!4m7!1m0!1m5!1m1!1s0x54906c88ae3d704d:0x5dfab57c8b6586dd!2m2!1d-122.2008179!2d47.6164494">
             </a> -->
           </div>
          </div>
          <div class="row">
            <div class="lodging-wrapper">
              <a href="http://www.westinbellevuehotel.com">
                <img src="../img/BELLEVUE-1.jpg" alt="">
                <h6>Westin Bellevue</h6>
              </a>
              <!-- <a href="https://www.google.com/maps/dir//600+Bellevue+Way+NE,+Bellevue,+WA+98004/@47.6164494,-122.2030066,17z/data=!4m16!1m7!3m6!1s0x54906c88ae3d704d:0x5dfab57c8b6586dd!2s600+Bellevue+Way+NE,+Bellevue,+WA+98004!3b1!8m2!3d47.6164494!4d-122.2008179!4m7!1m0!1m5!1m1!1s0x54906c88ae3d704d:0x5dfab57c8b6586dd!2m2!1d-122.2008179!2d47.6164494">
              </a> -->
            </div>
          </div>
        </div>

        <div class="col-sm-4 feature">
          <div class="row">
            <div class="text-center">
              <h2>Seattle</h2>
              <p>Close to the venue</p>
            </div>
            <div class="lodging-wrapper">
                <a href="http://www.westinseattle.com">
                  <img src="../img/SEATTLE-1.jpg" alt="">
                  <h6>Westin: Seattle</h6>
                </a>
                <!-- <a href="https://www.google.com/maps/dir//1900+5th+Ave,+Seattle,+WA+98101/@47.6136836,-122.3404298,17z/data=!4m16!1m7!3m6!1s0x5490154b6b527ad5:0x4bc5666dc3b9379b!2s1900+5th+Ave,+Seattle,+WA+98101!3b1!8m2!3d47.6136836!4d-122.3382411!4m7!1m0!1m5!1m1!1s0x5490154b6b527ad5:0x4bc5666dc3b9379b!2m2!1d-122.3382411!2d47.6136836">
              </a> -->
            </div>
          </div>
          <div class="row">
            <div class="lodging-wrapper">
              <a href="https://www.airbnb.com/s/Alki-Beach--WA?allow_override%5B%5D=&s_tag=kntmi3DA">
                <img src="../img/SEATTLE-2.jpg" alt="">
                <h6>AIRBNB</h6>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ui-accordion>
