<section class="registry registry-1 registry-3 overlay-light add-padding-top">

  <div class="background-image-holder">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Give the gift of presents</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-2 col-sm-6 text-center">
        <a href="http://wanderable.com/hm/fernyhoughwedding" target="_blank">
          <img id="wander" alt="Registry" src="img/wander.png">
        </a>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <a href="https://www.amazon.com/wedding/share/FernyhoughWedding" target="_blank">
          <img alt="Registry" src="img/amazon.png">
        </a>
      </div>
    </div>
  </div>
</section>
