<section class="registry registry-1 registry-3 overlay-light add-padding-top">

  <div class="background-image-holder">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Registry</h2>
        <p>
          We appreciate you coming from far and wide to be with us this summer. Your attendance is as good a gift as any. Who really needs a Vitamix, anyhow? (However, in the event you find it necessary, they are available on Amazon).
        </p>
        <p>
          After our wedding, the first chapter we'll write as a married couple will take place in a tropical paradise. We invite you to be a part of our growing story together at Wanderable.
        </p>
      </div>
    </div>

    <div class="row registry-icons">
      <div class="col-md-4 col-md-offset-2 col-sm-6 text-center">
        <a href="http://wanderable.com/hm/fernyhoughwedding" target="_blank">
          <img id="wander" alt="Registry" src="img/wander.png">
        </a>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <a href="https://www.amazon.com/wedding/share/FernyhoughWedding" target="_blank">
          <img alt="Registry" src="img/amazon.png">
        </a>
      </div>
    </div>
  </div>
</section>
