<section class="rsvp rsvp-2 add-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Say you'll be there</h1>
        <p>
          Please let us know if you can make it by<br> August 4th at the latest!
        </p>
      </div>
    </div>

    <div class="row">
      <div class="text-center col-sm-12">
        <div class="form-wrapper" ng-controller="mainCtrl">
          <form class="form-email" ng-submit="sendForm()">
            <div class="form-section">
              <div id='radio1' class="radio-group">
                <div class="radio-holder btn checked">
                  <input type="radio" name="rsvp" ng-model="form.rsvp"  ng-init="form.rsvp='attending'" value="attending"> <label for="rsvp"> Can't Wait</label><br>
                </div>
                <div class="radio-holder btn">
                  <input type="radio" name="rsvp" ng-model="form.rsvp" value="not-attending"> <label for="rsvp">Can't Come</label>  <br>
                </div>
              </div>
            </div>
            <div class="form-section">
              <p>Number of Guests:<br></p>
              <select name="guests" ng-model="form.guests">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="form-section">
              <input type="text" ng-model="form.name" placeholder="Your Name / Names">
            </div>
            <div class="form-section">

              <textarea ng-model="form.song" placeholder="You'll see me on the dance floor when they play..."></textarea>
            </div>
            <div class="form-section">
              <textarea ng-model="form.allergies" placeholder="Food Allergies?"></textarea>
            </div>
            <input type="submit" value="RSVP">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
