<!-- Bride and Groom -->
<section class="story story-1 add-padding-top">
  <div class="container">
    <!-- Bridesmaids -->
    <h2 class='text-center sub-heading add-margin-top add-margin-bottom'>The Bridesmaids</h2>

    <div class="row wedding-party">
      <div class="col-sm-6 col-xs-6 feature col-md-3">
        <img alt="Photo" src="img/tall2.jpg">
        <h6>Maid of Honor</h6>
        <h6>Desiree Durban</h6>
        <p>
          Relation: Bride's Older Sister<br />
          Relationship Status: TBD
        </p>
      </div>

      <div class="col-sm-6 col-xs-6 feature col-md-3">
        <img alt="Photo" src="img/tall2.jpg">
        <h6>Matron of Honor</h6>
        <h6>TAHLIA NANPEI</h6>
        <p>
          Relation: Bride's friend since 9th grade. Tahlia will say I do just six days before Deanna.<br>
          Relationship Status: Just Married
        </p>
      </div><div class="col-sm-6 col-xs-6 feature col-md-3">
        <img alt="Photo" src="img/tall2.jpg">
        <h6>Bridesmaid</h6>
        <h6>SABRINA NGUYEN</h6>
        <p>Relation: Bride's friend since 7th grade<br/>
          Relationship Status: Finally engaged</p>
      </div><div class="col-sm-6 col-xs-6 feature col-md-3">
        <img alt="Photo" src="img/tall2.jpg">
        <h6>Bridesmaid</h6>
        <h6>ZOE FERNYHOUGH</h6>
        <p>
          Relation: Groom's younger sister OR soon-to-be sister-in-law<br />
          Relationship Status: Single & has yellow fever
        </p>
      </div>
    </div>
    <!-- Groomsmen -->
    <h2 class='text-center sub-heading add-margin-top add-margin-bottom'>The Groomsmen</h2>

    <div class="row wedding-party">
      <div class="col-sm-6 col-xs-6 feature col-md-3">
        <img alt="Photo" src="img/tall1.jpg">
        <h6>Maid of Honor</h6>
        <h6>Desiree Durban</h6>
        <p>
          Relation: Bride's Older Sister<br />
          Relationship Status: TBD
        </p>
      </div>

      <div class="col-sm-6 col-xs-6 feature col-md-3">
        <img alt="Photo" src="img/tall1.jpg">
        <h6>Matron of Honor</h6>
        <h6>TAHLIA NANPEI</h6>
        <p>
          Relation: Bride's friend since 9th grade. Tahlia will say I do just six days before Deanna.<br>
          Relationship Status: Just Married
        </p>
      </div><div class="col-sm-6 col-xs-6 feature col-md-3">
        <img alt="Photo" src="img/tall1.jpg">
        <h6>Bridesmaid</h6>
        <h6>SABRINA NGUYEN</h6>
        <p>Relation: Bride's friend since 7th grade<br/>
          Relationship Status: Finally engaged</p>
      </div><div class="col-sm-6 col-xs-6 feature col-md-3">
        <img alt="Photo" src="img/tall1.jpg">
        <h6>Bridesmaid</h6>
        <h6>ZOE FERNYHOUGH</h6>
        <p>
          Relation: Groom's younger sister OR soon-to-be sister-in-law<br />
          Relationship Status: Single & has yellow fever
        </p>
      </div>
    </div>
  </div>
</section>
