$off-blue: rgb(49,60,79);
$off-blue-2: rgb(39,50,72);
$light-blue: rgb(113,139,165);
$light-blue-2: rgb(106,114,128);
$lighter-blue: rgb(200,213,241);
$lightest-blue: rgb(114,135,155);
// $dark-blue: rgb(19,30,65);
$lightest-navy: rgb(162,175,201);
$lighter-navy: rgb(71,88,123);
$light-navy: rgb(95,103,118);
$navy: rgb(15,27,50);
$dark-navy: rgb(16,28,53);
$dark-navy-2: rgb(16,27,52);
$dark-navy-transparent: rgba(16,28,53,0.9);
$darker-navy: rgb(10,18,34);
$darkest-navy: rgb(11,20,37);
$darkest-navy-2: rgb(12,21,40);
$off-navy: rgb(61,70,99);
$light-orange: rgb(245,226,175);
$orange: rgb(237,195,90);
$orange-transparent: rgba(237,195,90,0.7);
$dark-orange: rgb(213,166,49);
$teal: rgb(100,195,191);
$light-teal: rgb(153,215,213);
$white: rgb(255,255,255);
$off-white: rgb(207,206,206);
$dark-white: rgb(178,160,160);
$off-white-transparent: rgba(240,240,240,0.75);
$black: rgb(0,0,0);
$light-black: rgb(12,19,42);
$light-magenta: rgb(113,56,56);
$light-magenta-2: rgb(67,29,28);
$dark-magenta: rgb(44,6,5);
$dark-magenta-2: rgb(40,5,5);
$darker-magenta: rgb(55,6,6);
$darkest-magenta: rgb(35,4,4);
$magenta: rgb(79,9,9);
$off-magenta: rgb(121,68,67);
$magenta-transparent: rgba(79,9,9,0.84);
$light-pink: rgb(160,136,136);
$lighter-pink: rgb(193,108,108);
$lighter-pink-2: rgb(149,72,72);
$off-pink: rgb(161,72,72);

//tmaicee
$dark-blue: rgb(0,2,34);
$light-blue: rgba(255, 255, 255, 0.5);
$off-blue: rgb(80,82,103);
