html, body {
  height: 100%;
}

html {
  background: $white;
}
body {
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

.container-fluid {
  padding: 0;
}

.container {
  @include respondTo(large,huge) {
    width: 1280px;
  }
}

.wrap {
  background: $white;
}

.color-style-dropdown {
   display: none;
}

a {
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  &:hover {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
  }
}

.btn {
  font-size: 15px;
   border-radius: 3px;
   border: 2px solid transparent;
   padding: 12px 24px;
   text-decoration: none;
   letter-spacing: 3px;
   text-transform: uppercase;

   &.btn-light {
      background: #b2c5d8;
      color: #4f6078;
   }

   &.btn-dark {
      background: #1a2434;
      color: #fff;
   }

   &:hover {
      opacity: 0.9;
      border: 2px solid gray;
      -webkit-transition: all 0.7s;
      -moz-transition: all 0.7s;
      transition: all 0.7s;
   }
}

.btn-wrapper {
   padding-top: 20px;
   padding-bottom: 20px;
}


.btn {
  height: 57px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  background-size: 100% 100%;
  background-color: transparent !important;
  background-image: url(../../assets/images/button.png) !important;
  border: none;
  color: $off-blue;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-size: 80%;
  -webkit-transition: background-image 0.75s; /* Safari */
  transition: background-image 0.75s;

  &:hover {
     background-image: url(../../assets/images/button-hover.png) !important;
     color: white !important;
     border: none;
  }
}


.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
      outline: 0px auto -webkit-focus-ring-color;
}


// .link {
//   font-family: $font-raleway;
//   font-weight: bold;
//   color: $navy;
//   font-size: 14px;
//   text-transform: uppercase;
// }
